annotated-types
anyio
click
exceptiongroup
fastapi
greenlet
h11
httptools
idna
pydantic
pydantic_core
PyMySQL
python-dotenv
PyYAML
sniffio
SQLAlchemy
starlette
typing_extensions
uvicorn
uvloop
watchfiles
websockets
